@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

    h1, h2 {
        font-family: 'Viga', sans-serif;
    }
    html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
    }
    
}
.mynav .navbar .dropdown-content {
    z-index: 1;
    overflow: visible;
    
}

/* Button Einstellung Start */

.btn {
    @apply px-5 py-3 shadow-sm transition ease-in-out duration-300 rounded leading-snug whitespace-nowrap text-base font-semibold;
  }
  
  .btn.btn-sm {
    @apply px-4 py-2 text-sm;
  }
  
  .btn.btn-lg {
    @apply text-lg px-8 py-4;
  }
  
  .btn-primary {
    @apply text-white bg-blue-500 hover:bg-blue-600;
  }
  
  .btn-primary.btn-outline {
    @apply text-blue-600 border border-blue-600 bg-transparent hover:bg-blue-600 hover:text-white;
  }
  
  .btn-secondary {
    @apply text-white bg-indigo-500 hover:bg-indigo-600;
  }
  
  .btn-secondary.btn-outline {
    @apply text-indigo-600 border border-indigo-600 bg-transparent hover:bg-indigo-600 hover:text-white;
  }
  
  .btn-tertiary {
    @apply text-white bg-gray-600 hover:bg-gray-700;
  }
  
  .btn-tertiary.btn-outline {
    @apply text-gray-600 border border-gray-600 bg-transparent hover:bg-gray-600 hover:text-white;
  }

/* Button Einstellung Ende */
  
/* Carousel start */
.mySwiper {
    height: 'auto';
    z-index: 10;
    overflow: hidden;
}
.swiper-slide {
    background: #ccc;
    display: flex;
    justify-content: center;
    
}
.m-hero {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
.m-hero-item>div, .c-hero>div {
    width: 88%;
    height: 100%;
    max-width: 2048px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    margin: 0 auto;
    overflow: hidden;
}
.high-contrast {
    max-width: 440px;
    top: calc(50%);
    transform: translateY(-0%);
    max-width: 440px;
    position: absolute;
    z-index: 10;
    left: 0;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 1em;
    margin-inline-end: 1em
}


.high-contrast-2 {
    max-width: 440px;
    top: calc(50%);
    transform: translateY(-50%);
    max-width: 440px;
    position: absolute;
    z-index: 10;
    right: 0;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 1em;
    margin-inline-end: 1em
}
.m-hero-item .c-subheading, .c-hero .c-subheading, .c-subheading, .c-subheading-1, .c-subheading-2, .c-subheading-3, .c-subheading-4 {
    font-weight: 400;
    color: #fff;
    font-size: 28px;
}
.c-heading-1 {
    font-size: 32px;
    line-height: 56px;
    display: block;
    font-weight: bold;
    color: #fff;
}

.m-hero-item.f-y-center>div>div, .c-hero.f-y-center>div>div {
    top: 120px;
    top: calc(50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.m-hero-item.f-x-right>div>div, .c-hero.f-x-right>div>div {
    right: 0;
}
a.c-call-to-action, button.c-call-to-action {
    font-size: 15px;
    position: relative;
    border: 2px solid transparent;
    outline: 1px solid transparent;
    outline-offset: -3px;
    max-width: 100%;
    display: inline-block;
    overflow: hidden;
    color: #fff;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0;
    line-height: 1.3;
    white-space: nowrap;
    transition: all 200ms ease-in-out;
    box-shadow: 0 4px 8px 0 transparent;
    background: #107c10;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.m-content-placement-item .c-call-to-action.f-heavyweight, .c-content-placement .c-call-to-action.f-heavyweight, .m-content-placement-item .c-call-to-action.f-heavyweight, .c-content-placement .c-call-to-action.f-heavyweight, a.c-call-to-action.f-heavyweight {
    padding: 5px 20px 5px 22px;
    color: #054b16;
    font-weight: 900;
    background: #9bf00b;
}
/* Carousel buttons */
.swiper-pagination-bullet-active {
    background-color: rgb(223, 223, 223) !important;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after ,.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
color: white;
}
/* Carousel end */

/* Contentbar start */
[data-grid~="container"], [data-grid*="col-"] {
    box-sizing: border-box;
    zoom: 1;
}
[data-grid~="container"] {
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
}
element.style {
    display: none;
}
.icons {
    text-align: center;
    margin: 28px 0 35px;
}
.icons a {
    display: inline-block;
    margin-right: 3.5vw;
}
.icons a>div>div {
    width: 72px;
    margin: 0 auto;
}
.icons a p span {
    color: #107c10;
}
/* Contentbar end */

/* Manual start */
.manual>p, .manual>ul {
    text-align: left;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 2em;
    margin-inline-end: 2em;
}

a {
    outline: none;
  }
/* Manual end */
